body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}
.upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  border: 2px dashed #ccc;
  padding: 20px;
  border-radius: 10px;
  
  width: 300px;
  height: 150px;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}
.upload-container:hover {
  border-color: #000;
  background-color: #e8e8e8;
}
.dragover {
  border-color: #000;
  background-color: #e8e8e8;
}
.upload-container h2 {
  margin: 0;
  font-size: 18px;
  color: #666;
}